.header_wrapper {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 5px 0px;
    background-color: white;
    box-shadow: 0 2px 5px -1px rgba(50,50,93,0.25),0 1px 3px -1px rgba(0,0,0,0.3);
    z-index: 2;
}

.chat_body{
    padding: 10px 0px;
    padding-top: 100px;
}

.chat_body .header,
.chat_body .status-bar{
    padding: 0px 20px;
}
.chat_body{
    background-image: url(../image/chat_back.png);
    min-height: 100vh;
    
}

.chat_write_container{
    position: fixed;
    
    /* bottom: 50px; */
    /* width: 80%; */
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color:#fcfcfc; */
    /* padding: 0px 20px; */
    /* border-radius: 40px;
    box-shadow: 0 2px 5px -1px rgba(50,50,93,0.25),0 1px 3px -1px rgba(0,0,0,0.3); */
}


.chat_icon_left{
    position: absolute;
    left: 10px;
}
.chat_icon_right{
    position: absolute;
    right: 10px;
}

@keyframes float{
    0%{
        box-shadow: 0 2px 5px -1px rgba(50,50,93,0.25),0 1px 3px -1px rgba(0,0,0,0.3);
    }
    50%{
        box-shadow: 0 2px 5px -60px rgba(50,50,93,0.25),0 1px 3px -1px rgba(0,0,0,0.3);

    }
    100%{
        box-shadow: 0 2px 5px -1px rgba(50,50,93,0.25),0 1px 3px -1px rgba(0,0,0,0.3);
    }
}

.chat_write{
    margin: 0 auto;
    bottom: 0px;
    border-radius: 0;
    padding: 20px 60px;
    width: 100%;
    border: none;
    font-size: 14px;
    transition: all .5s ease-in;
    }
    

.chat_write:focus{
    outline: none;
    width: 80%;
    
    /* transform: scale(0.7); */
    transform: translateY(-100px);
    border-radius: 40px;
    /* box-shadow: 0 2px 5px -1px rgba(50,50,93,0.25),0 1px 3px -1px rgba(0,0,0,0.3); */
    animation: float 1s ease-in-out infinite forwards;
}
.chat_icon{
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

.chat_write:focus ~ .chat_icon{
    opacity: 0;

}

.chat_write i {
    font-size: 22px;
}

.chat_write-column:nth-child(2){
    width: 80%;
}



/* .chat_write-column input{
    padding: 20px 10px;
    width: 100%;
    border: none;
    font-size: 14px;
}

.chat_write-column input:focus{
    outline: none;
} */


.chat_screen .chat_messages{
    border-top: 1px solid #f7f7f7;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    padding-top: 30px;
}
.chat_messages .chat_timestamp{
    background-color: white;
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);;
    text-transform: uppercase;
    font-weight: 700;
}

.message{
    display: flex;
    align-items: flex-end;
    width: 50%;
    margin-bottom: 10px;

}

.message .message_content {
    width: 80%;
}
.inconming_message{
    align-self: flex-start;
}

.sent_message{
    align-self: flex-end;
}

@keyframes asdasf{
    from{
        transform: none
    }
    to{
        transform: rotateY(1turn)
    }
}

.inconming_message img{
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
    animation: asdasf 3s linear infinite;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);;
}


.message .message_bubble{
    background-color: white;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
    display: block;
    
}

.inconming_message .message_autor{
    margin-top: 10px;
    display: block;
    font-weight: 600;
    font-size: 12px;
    
}

.inconming_message .message_bubble{
    border-bottom-left-radius: 0px;
    background-image: linear-gradient(to right,#F37335,#FDC830);
    color: whitesmoke;
}


.sent_message .message_bubble{
     border-bottom-right-radius: 0px;
     background-image: linear-gradient(to right,#005AA7,#8f94fb);
     color: white;
}

@keyframes incomingAnim{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.inconming_message{
    animation: incomingAnim 0.7s ease-out forwards;
}

@keyframes sentAnimation{
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.sent_message{
    animation: sentAnimation 0.7s ease-out forwards;
}